$prime : #d80757;
$contrast : #11eaea;
.algo-setting{
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  .sliders{
    margin-right: 10px;
    p{
      margin: 10px 3px 7px 3px;
      color: white;
      font-weight: bold;
    }
  }
  .sort-btns{
    margin-left: auto;
    button{
      padding: 5px;
      font-family: inherit;
      font-weight: bold;
      color: white;
      border: 3px solid $prime;
      border-radius: 4px;
      background: #d8075712;
      margin-right: 11px;
      margin-top: 10px;
      cursor: pointer;
      transition: background 0.2s;
    }
    button:hover{
      background: $prime;
    }
    .active-btn{
      background: $prime;
    }
    .new-array{
      border-color: #11eaea;
      background: rgb(17 234 234 / 10%);
    }
    .new-array:hover,:active{
      color: #141414;
      background: rgb(17 234 234 / 100%);
    }
  }
  button:disabled,input:disabled{
    opacity: 0.5;
  }
}
.algo{
  position: absolute;
  font-size: 20px;
  color: #d80757;
  font-weight: bolder;
  left: 20%;
  text-transform: uppercase;
}
.array-block{
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0px auto;
  margin-top: 50px;

  .array-element{
    position: absolute;
    border:1px solid #141414;
    background: $prime;
    width: 15px;
    bottom: 0;
    transition: all 0.1s;
  }
}

@media screen and (max-width: 769px) {
  .algo-setting{
    display: block;
  }
  .array-block{
    height: 300px;
  }
}
